body {background-color: #5E5E5E;}

/*Главный экрна с регистрации и входом*/

.regbtn {
    position: absolute;
    height: 2em;
    margin: 0;
    top: 40%;
    left: 44%;
    margin-right: -50%;
    background-color: #61FF41;
    color: white;
    font-size: 35px;
    width: 240px;
    padding: 0 ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.regbtn:hover {
    background-color: #14a20a;
}

.logbtn {
    position: absolute;
    height: 2em;
    margin: 0;
    top: 50%;
    left: 46.8%;
    margin-right: -50%;
    background-color: #7E7E7E;
    color: white;
    font-size: 30px;
    width: 120px;
    padding: 0 ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.logbtn:hover {
    background-color: #686868;
}

/*Регистрация*/

.form {
    max-width: 540px;
    padding: 15px;
    margin: 240px auto;
    background-color: #989797;
    border-radius: 15px;
}

.input {
    display: block;
    width: 95%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.regacpbtn {
    display: block;
    width: 50%;
    padding: 8px 10px;
    border: 0;
    border-radius: 15px;
    background-color: #1cbc11;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.regacpbtn:hover {
    background-color: #14a20a;
}

/*Вход*/

.backlogbtn {
    display: block;
    width: 90%;
    padding: 8px 10px;
    border: 0;
    background-color: #686868;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.backlogbtn:hover {
    background-color: #585858;
}