@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {background-color: #5E5E5E;}

/*Заголовок*/

.titlehead{
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    color: white;
    font-size: 90px;
}

/*Главный экрна с регистрации и входом*/

.regbtn {
    position: absolute;
    height: 2em;
    margin: 0;
    top: 30%;
    left: 44.5%;
    margin-right: -50%;
    background-color: #61FF41;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    width: 240px;
    padding: 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.regbtn:hover {
    background-color: #14a20a;
}

.logbtn {
    position: absolute;
    height: 2em;
    margin: 0;
    top: 40%;
    left: 47.2%;
    margin-right: -50%;
    background-color: #7E7E7E;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    padding: 0 ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.logbtn:hover {
    background-color: #686868;
}

/*Регистрация*/

.form {
    max-width: 540px;
    padding: 15px;
    margin: 240px auto;
    background-color: #989797;
    border-radius: 15px;
}

.input {
    display: block;
    width: 95%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.reglogbtn {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 15px 10px;
    border: 0;
    border-radius: 15px;
    background-color: #1cbc11;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
.reglogbtn:hover {
    background-color: #14a20a;
}

/*Заголовк входа и регистрации*/

.titlereglog{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Вход*/

.backlogbtn {
    display: block;
    width: 90%;
    padding: 8px 10px;
    border: 0;
    background-color: #686868;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.backlogbtn:hover {
    background-color: #585858;
}